body {
    font-family: 'Courier New', Courier, monospace;
    color: #ebebeb;
    background-color: #303030;
    margin: 20px;
}

.header {
    text-align: center;
}

a {
    margin: 15px;
    color: #ebebeb;
    text-decoration: underline;
    transition: transform 0.1s ease;
}
a:hover {
  transform: scale(1.1);
}